---
- name: Copy the dockerfile to our user directory
  file: 
    src: "templates/Dockerfile"
    dest: "~/Dockerfile"

- name: Build our custom docker image
  command: docker build -t jenkins-jduv:latest ~

# Next pull and install the docker images per host, per availability zone
- name: Run the dockerized jenkins container
  docker_container:
    name: "jenkins-jduv"
    image: "jenkins-jduv:latest"
    keep_volumes: no
    memory: "{{ deployment.jenkins.container_memory }}"
    restart_policy: always
    ports: "{{ deployment.jenkins.port_mapping }}"